<a href="https://colab.research.google.com/github/Natalia-git97/My-Notebooks/blob/main/SQL_University.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CRIANDO UM SQL

Modelar um sistema de gerenciamento de banco de dados de alunos para Universidades
Com as seguintes considerações: 
  - Você deverá cadastrar as seguintes informações de cada profissional da Universidade (Alunos e Professores):
    - Primeiro nome; Sobrenome; Data de nascimento ; email do aluno
  - Cada aluno poderá se matricular em um determinado curso dado por um determinado professor
  - Cada aluno poderá realizar o mesmo curso até 3 vezes, sendo aprovado quando obter média >= 70.0
  
Definir as tabelas (entities) com seu respectivos atributos - definir os "constraints" e as chaves primárias e/ou estrangeiras

In [ ]:
import csv
import sqlite3
bd = sqlite3.connect('ExampleUniversity.db')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
cursor = bd.cursor()

In [ ]:
SQL = """ CREATE TABLE IF NOT EXISTS person (
                                personid integer PRIMARY KEY,
                                first_name text,
                                middle_initial text,
                                last_name text,
                                born_date text); """

In [ ]:
cursor.execute(SQL)

In [ ]:
csv_file = open('/content/SamplePersonData')
persondata = csv.reader(csv_file)

In [ ]:
cursor.execute("PRAGMA table_info(person)").fetchall()

[(0, 'personid', 'integer', 0, None, 1),
 (1, 'first_name', 'text', 0, None, 0),
 (2, 'middle_initial', 'text', 0, None, 0),
 (3, 'last_name', 'text', 0, None, 0),
 (4, 'born_date', 'text', 0, None, 0)]

In [ ]:
cursor.executemany('INSERT INTO person VALUES (?,?,?,?,?)',persondata)

In [ ]:
bd.commit()

In [ ]:
cursor.execute('SELECT * FROM person limit 5').fetchall()

[]

In [ ]:
SQL = """ CREATE TABLE IF NOT EXISTS student (
                                studentid integer PRIMARY KEY,
                                personid integer,
                                email text,
                                foreign key (personid) references person(personid)
                                          ); """

In [ ]:
cursor.execute(SQL)

In [ ]:
csv_file = open('/content/SampleStudentData')
studentdata = csv.reader(csv_file)

In [ ]:
cursor.executemany('INSERT INTO student VALUES (?,?,?)', studentdata)

In [ ]:
bd.commit()

In [ ]:
cursor.execute('SELECT * FROM student limit 5').fetchall()

[(1, 1, 'AdeleRosales@university.com'),
 (2, 2, 'JustusGomez@university.com'),
 (3, 3, 'IsiahWarner@university.com'),
 (4, 4, 'EricaCampos@university.com'),
 (5, 5, 'DesmondValdez@university.com')]

In [ ]:
SQL = """ CREATE TABLE IF NOT EXISTS course (
                                courseid integer PRIMARY KEY,
                                name text,
                                teacher text
                                          ); """

In [ ]:
cursor.execute(SQL)

In [ ]:
csv_file = open('/content/SampleCourseData')
coursedata = csv.reader(csv_file)

In [ ]:
cursor.executemany('INSERT INTO course VALUES (?,?,?)', coursedata)

In [ ]:
bd.commit()

In [ ]:
cursor.execute('SELECT * FROM course limit 5').fetchall()

[(1, 'Circuit Analysis', 'Kellen Horton'),
 (2, 'Calculus', 'Kamron Saunders'),
 (3, 'Introduction to Law ', 'Dominick Pope'),
 (4, 'Circuit Analysis', 'Gerardo Grimes'),
 (5, 'Human Ecology', 'Elaine Cabrera')]

In [ ]:
SQL = """ CREATE TABLE IF NOT EXISTS credit (
                                studentid integer,
                                courseid text,
                                grade text,
                                attempt text,
                                foreign key (studentid) references student(studentid),
                                foreign key (courseid) references course(courseid)
                                                                                  ); """

In [ ]:
type(SQL)

str

In [ ]:
cursor.execute(SQL)

In [ ]:
csv_file = open('/content/SampleCreditData')
creditdata = csv.reader(csv_file)

In [ ]:
cursor.executemany('INSERT INTO credit VALUES (?,?,?,?)', creditdata)

In [ ]:
bd.commit()

In [ ]:
cursor.execute('SELECT * FROM credit limit 5').fetchall()

[(554, '24', '99.89', '1'),
 (468, '6', '85.15', '2'),
 (34, '13', '22.69', '3'),
 (854, '16', '48.32', '1'),
 (469, '2', '90.53', '2')]

#Exercícios

- Quantos estudantes obtiveram média acima de 83.5 ?

In [ ]:
cursor.execute('PRAGMA table_info(credit)').fetchall()

[(0, 'studentid', 'integer', 0, None, 0),
 (1, 'courseid', 'text', 0, None, 0),
 (2, 'grade', 'text', 0, None, 0),
 (3, 'attempt', 'text', 0, None, 0)]

In [ ]:
cursor.execute('SELECT studentid, grade FROM credit WHERE grade > 83.5 limit 10').fetchall()

[(554, '99.89'),
 (468, '85.15'),
 (469, '90.53'),
 (359, '97.22'),
 (172, '84.53'),
 (91, '91.82'),
 (648, '98.74'),
 (823, '86.50'),
 (426, '95.45'),
 (695, '84.91')]

In [ ]:
cursor.execute('SELECT COUNT(studentid) FROM credit WHERE grade > 83.5').fetchall()

[(197,)]

- Faça uma consulta que retorne os cursos dados ordenados em "ordem" alfabética.

In [ ]:
cursor.execute('SELECT name FROM course ORDER BY name limit 10').fetchall()

[('Arts Fundraising',),
 ('Calculus',),
 ('Calculus',),
 ('Circuit Analysis',),
 ('Circuit Analysis',),
 ('Elementary French ',),
 ('Elementary French ',),
 ('Financial Accounting',),
 ('Food and Culture',),
 ('Food and Culture',)]

- Faça uma consulta que retorne o nome de todas as pessoas cujo o último nome termina com "ez"

In [ ]:
cursor.execute("SELECT first_name, last_name FROM person WHERE last_name LIKE '%ez' limit 10").fetchall()

[('Justus', 'Gomez'),
 ('Desmond', 'Valdez'),
 ('Amare', 'Hernandez'),
 ('Jaida', 'Martinez'),
 ('Aaron', 'Perez'),
 ('Ava', 'Velez'),
 ('Giada', 'Fernandez'),
 ('Ruben', 'Rodriquez'),
 ('Seth', 'Marquez'),
 ('Alexis', 'Velez')]

- Quantos estudantes precisaram de 3 tentativas para serem aprovados

In [ ]:
cursor.execute('PRAGMA table_info(credit)').fetchall()

[(0, 'studentid', 'integer', 0, None, 0),
 (1, 'courseid', 'text', 0, None, 0),
 (2, 'grade', 'text', 0, None, 0),
 (3, 'attempt', 'text', 0, None, 0)]

In [ ]:
cursor.execute('SELECT studentid, attempt FROM credit WHERE attempt >=3 limit 10').fetchall()

[(34, '3'),
 (440, '3'),
 (369, '3'),
 (776, '3'),
 (172, '3'),
 (823, '3'),
 (237, '3'),
 (43, '3'),
 (496, '3'),
 (21, '3')]

In [ ]:
cursor.execute('SELECT COUNT(studentid) FROM credit WHERE attempt >=3').fetchall()

[(245,)]

- Usando uma lógica condicional retorne : Id do aluno, nota, aprovado ou reprovado. Aprovado se nota >= 70.0

In [ ]:
status = cursor.execute('SELECT studentid, grade, \
                        CASE WHEN grade >=70 THEN "aprovado" \
                        ELSE "reprovado" END FROM credit limit 5').fetchall()
status

[(554, '99.89', 'aprovado'),
 (468, '85.15', 'aprovado'),
 (34, '22.69', 'reprovado'),
 (854, '48.32', 'reprovado'),
 (469, '90.53', 'aprovado')]

Realizar uma consulta que retorne os nomes dos cursos cuja a média obtida (AVG) pelo alunos foi maior ou igual 75.0

In [ ]:
SQL_cursos_avg = """SELECT cs.name, avg(cd.grade) FROM course as cs INNER JOIN credit as cd 
                    on cs.courseid = cd.courseid GROUP BY cd.courseid HAVING avg(cd.grade) > 60"""

In [ ]:
cursor.execute(SQL_cursos_avg).fetchall()

[('Circuit Analysis', 65.1123076923077),
 ('Fundamentals of Marketing ', 64.76054054054052),
 ('Network Optimization', 63.792068965517245),
 ('Elementary French ', 60.02),
 ('Food and Culture', 67.3727027027027)]

Realizar uma consulta que retorne os email dos alunos que cursaram 3 vezes um mesmo curso

In [ ]:
cursor.execute('''SELECT s.email, c.attempt FROM student as s, credit as c
                on s.studentid = c.studentid
                WHERE c.attempt = 3 limit 5''').fetchall()

[('WaylonBradley@university.com', '3'),
 ('KarisLe@university.com', '3'),
 ('AndreMcintyre@university.com', '3'),
 ('LilaLandry@university.com', '3'),
 ('AngelaMcconnell@university.com', '3')]


 (DESAFIO) Realizar uma consulta que retorne os nomes dos professores mais carrascos - isto é - aqueles cujo o número de alunos reprovados (média menor que 70.0) foi maior do que de
 alunos aprovados.

In [ ]:
cursor.execute('SELECT cs.teacher, COUNT(cd.grade) FROM course as cs, credit as cd \
                WHERE COUNT(cd.grade < 70) > COUNT(cd.grade >=70)').fetchall()

OperationalError: ignored

In [ ]:
cursor.execute('SELECT cs.teacher, COUNT(cd.grade) FROM course as cs INNER JOIN credit as cd \
                    on cs.courseid = cd.courseid WHERE COUNT(cd.grade < 70) > COUNT(cd.grade >=70)').fetchall()

OperationalError: ignored

In [ ]:
cursor.execute('SELECT teacher FROM course').fetchall()

[('Kellen Horton',),
 ('Kamron Saunders',),
 ('Dominick Pope',),
 ('Gerardo Grimes',),
 ('Elaine Cabrera',),
 ('Sophie Norris',),
 ('Julio Cohen',),
 ('Farrah Cantrell',),
 ('Kayden Price',),
 ('Ellie Bass',),
 ('Lilianna Watts',),
 ('Zariah Bowers',),
 ('Kylie Cameron',),
 ('Josie Hopkins',),
 ('Jaxon Moon',),
 ('Andre Richard',),
 ('Matias Little',),
 ('Abby Sheppard',),
 ('Mina Kidd',),
 ('Salma Ortega',),
 ('Trevon Cline',),
 ('Janae Chandler',),
 ('Skyla Barton',),
 ('Scarlet Hines',),
 ('Pamela Burch',),
 ('Kelsey Caldwell',),
 ('Gibson Warner',),
 ('Allison Witt',),
 ('Taylor Knight',),
 ('Harley Albert',)]

In [ ]:
cursor.execute('SELECT cs.teacher, COUNT(cd.grade) FROM course as cs, credit as cd \
                on cs.courseid = cd.courseid').fetchall()

[('Harley Albert', 1000)]

In [ ]:
cursor.execute('PRAGMA table_info(credit)').fetchall()

[(0, 'studentid', 'integer', 0, None, 0),
 (1, 'courseid', 'text', 0, None, 0),
 (2, 'grade', 'text', 0, None, 0),
 (3, 'attempt', 'text', 0, None, 0)]

In [ ]:
cursor.execute('select courseid from credit').fetchall()

[('24',),
 ('6',),
 ('13',),
 ('16',),
 ('2',),
 ('12',),
 ('29',),
 ('3',),
 ('16',),
 ('23',),
 ('21',),
 ('28',),
 ('24',),
 ('3',),
 ('3',),
 ('12',),
 ('26',),
 ('23',),
 ('8',),
 ('28',),
 ('18',),
 ('8',),
 ('2',),
 ('25',),
 ('17',),
 ('5',),
 ('25',),
 ('21',),
 ('27',),
 ('2',),
 ('15',),
 ('5',),
 ('22',),
 ('7',),
 ('4',),
 ('10',),
 ('7',),
 ('9',),
 ('28',),
 ('28',),
 ('9',),
 ('14',),
 ('24',),
 ('24',),
 ('8',),
 ('24',),
 ('2',),
 ('29',),
 ('26',),
 ('4',),
 ('28',),
 ('17',),
 ('11',),
 ('24',),
 ('8',),
 ('23',),
 ('22',),
 ('16',),
 ('21',),
 ('3',),
 ('10',),
 ('18',),
 ('13',),
 ('8',),
 ('13',),
 ('7',),
 ('7',),
 ('23',),
 ('6',),
 ('19',),
 ('27',),
 ('27',),
 ('25',),
 ('26',),
 ('17',),
 ('7',),
 ('19',),
 ('20',),
 ('22',),
 ('28',),
 ('19',),
 ('23',),
 ('12',),
 ('16',),
 ('5',),
 ('12',),
 ('7',),
 ('3',),
 ('21',),
 ('8',),
 ('13',),
 ('2',),
 ('29',),
 ('25',),
 ('21',),
 ('30',),
 ('3',),
 ('23',),
 ('8',),
 ('8',),
 ('28',),
 ('22',),
 ('14',),
 ('21',),
 ('28',),
 ('23',),
 ('21',),
 ('26',),
 ('20',),
 ('15',),
 ('3',),
 ('18',),
 ('28',),
 ('7',),
 ('30',),
 ('11',),
 ('30',),
 ('23',),
 ('26',),
 ('4',),
 ('25',),
 ('5',),
 ('16',),
 ('18',),
 ('24',),
 ('5',),
 ('23',),
 ('15',),
 ('9',),
 ('14',),
 ('21',),
 ('21',),
 ('22',),
 ('5',),
 ('5',),
 ('23',),
 ('24',),
 ('5',),
 ('28',),
 ('8',),
 ('18',),
 ('14',),
 ('7',),
 ('6',),
 ('10',),
 ('13',),
 ('12',),
 ('20',),
 ('22',),
 ('12',),
 ('16',),
 ('17',),
 ('15',),
 ('20',),
 ('7',),
 ('30',),
 ('21',),
 ('21',),
 ('21',),
 ('9',),
 ('22',),
 ('27',),
 ('20',),
 ('20',),
 ('7',),
 ('11',),
 ('10',),
 ('6',),
 ('5',),
 ('7',),
 ('4',),
 ('20',),
 ('12',),
 ('1',),
 ('14',),
 ('25',),
 ('28',),
 ('26',),
 ('16',),
 ('5',),
 ('3',),
 ('9',),
 ('28',),
 ('7',),
 ('27',),
 ('2',),
 ('4',),
 ('25',),
 ('24',),
 ('19',),
 ('6',),
 ('13',),
 ('12',),
 ('20',),
 ('4',),
 ('6',),
 ('13',),
 ('6',),
 ('10',),
 ('20',),
 ('4',),
 ('15',),
 ('28',),
 ('9',),
 ('14',),
 ('5',),
 ('7',),
 ('20',),
 ('23',),
 ('14',),
 ('19',),
 ('15',),
 ('17',),
 ('4',),
 ('6',),
 ('3',),
 ('13',),
 ('9',),
 ('14',),
 ('2',),
 ('7',),
 ('26',),
 ('21',),
 ('11',),
 ('13',),
 ('10',),
 ('24',),
 ('27',),
 ('19',),
 ('13',),
 ('10',),
 ('23',),
 ('11',),
 ('22',),
 ('9',),
 ('29',),
 ('26',),
 ('4',),
 ('3',),
 ('22',),
 ('14',),
 ('21',),
 ('5',),
 ('16',),
 ('16',),
 ('5',),
 ('25',),
 ('9',),
 ('9',),
 ('5',),
 ('27',),
 ('24',),
 ('7',),
 ('10',),
 ('7',),
 ('28',),
 ('7',),
 ('15',),
 ('7',),
 ('2',),
 ('16',),
 ('3',),
 ('15',),
 ('18',),
 ('28',),
 ('28',),
 ('1',),
 ('16',),
 ('11',),
 ('17',),
 ('24',),
 ('2',),
 ('13',),
 ('17',),
 ('27',),
 ('3',),
 ('8',),
 ('9',),
 ('26',),
 ('9',),
 ('19',),
 ('4',),
 ('23',),
 ('20',),
 ('4',),
 ('20',),
 ('16',),
 ('16',),
 ('13',),
 ('23',),
 ('21',),
 ('11',),
 ('5',),
 ('7',),
 ('25',),
 ('30',),
 ('15',),
 ('10',),
 ('3',),
 ('15',),
 ('5',),
 ('17',),
 ('11',),
 ('14',),
 ('21',),
 ('15',),
 ('29',),
 ('3',),
 ('22',),
 ('3',),
 ('19',),
 ('18',),
 ('21',),
 ('13',),
 ('25',),
 ('14',),
 ('11',),
 ('16',),
 ('27',),
 ('26',),
 ('25',),
 ('22',),
 ('10',),
 ('6',),
 ('26',),
 ('3',),
 ('9',),
 ('16',),
 ('30',),
 ('13',),
 ('11',),
 ('8',),
 ('3',),
 ('15',),
 ('22',),
 ('27',),
 ('4',),
 ('14',),
 ('21',),
 ('16',),
 ('29',),
 ('21',),
 ('26',),
 ('29',),
 ('20',),
 ('4',),
 ('13',),
 ('11',),
 ('14',),
 ('11',),
 ('14',),
 ('6',),
 ('16',),
 ('28',),
 ('27',),
 ('12',),
 ('12',),
 ('1',),
 ('21',),
 ('11',),
 ('1',),
 ('29',),
 ('24',),
 ('30',),
 ('20',),
 ('6',),
 ('7',),
 ('4',),
 ('7',),
 ('28',),
 ('21',),
 ('15',),
 ('20',),
 ('28',),
 ('23',),
 ('12',),
 ('18',),
 ('26',),
 ('12',),
 ('24',),
 ('4',),
 ('16',),
 ('25',),
 ('4',),
 ('22',),
 ('2',),
 ('4',),
 ('14',),
 ('23',),
 ('15',),
 ('25',),
 ('14',),
 ('15',),
 ('30',),
 ('15',),
 ('22',),
 ('26',),
 ('23',),
 ('6',),
 ('27',),
 ('9',),
 ('28',),
 ('26',),
 ('2',),
 ('13',),
 ('6',),
 ('26',),
 ('27',),
 ('19',),
 ('9',),
 ('4',),
 ('19',),
 ('28',),
 ('9',),
 ('11',),
 ('22',),
 ('30',),
 ('19',),
 ('13',),
 ('12',),
 ('12',),
 ('5',),
 ('10',),
 ('12',),
 ('28',),
 ('21',),
 ('11',),
 ('9',),
 ('13',),
 ('24',),
 ('5',),
 ('26',),
 ('8',),
 ('26',),
 ('13',),
 ('12',),
 ('22',),
 ('16',),
 ('8',),
 ('27',),
 ('23',),
 ('17',),
 ('16',),
 ('26',),
 ('25',),
 ('21',),
 ('2',),
 ('18',),
 ('29',),
 ('8',),
 ('29',),
 ('24',),
 ('2',),
 ('21',),
 ('23',),
 ('13',),
 ('7',),
 ('19',),
 ('16',),
 ('8',),
 ('16',),
 ('6',),
 ('24',),
 ('21',),
 ('26',),
 ('22',),
 ('26',),
 ('22',),
 ('25',),
 ('18',),
 ('8',),
 ('27',),
 ('4',),
 ('20',),
 ('4',),
 ('1',),
 ('21',),
 ('22',),
 ('16',),
 ('19',),
 ('20',),
 ('17',),
 ('24',),
 ('24',),
 ('23',),
 ('29',),
 ('19',),
 ('18',),
 ('21',),
 ('16',),
 ('3',),
 ('3',),
 ('29',),
 ('8',),
 ('2',),
 ('26',),
 ('15',),
 ('29',),
 ('27',),
 ('13',),
 ('27',),
 ('21',),
 ('20',),
 ('16',),
 ('19',),
 ('13',),
 ('23',),
 ('22',),
 ('16',),
 ('10',),
 ('5',),
 ('7',),
 ('5',),
 ('5',),
 ('21',),
 ('4',),
 ('2',),
 ('29',),
 ('8',),
 ('16',),
 ('10',),
 ('11',),
 ('5',),
 ('2',),
 ('9',),
 ('19',),
 ('26',),
 ('29',),
 ('9',),
 ('19',),
 ('18',),
 ('24',),
 ('28',),
 ('22',),
 ('21',),
 ('21',),
 ('9',),
 ('10',),
 ('4',),
 ('4',),
 ('12',),
 ('4',),
 ('25',),
 ('8',),
 ('24',),
 ('18',),
 ('6',),
 ('2',),
 ('19',),
 ('24',),
 ('29',),
 ('17',),
 ('12',),
 ('14',),
 ('26',),
 ('8',),
 ('12',),
 ('11',),
 ('14',),
 ('10',),
 ('3',),
 ('4',),
 ('9',),
 ('10',),
 ('21',),
 ('9',),
 ('30',),
 ('14',),
 ('2',),
 ('17',),
 ('5',),
 ('13',),
 ('15',),
 ('23',),
 ('8',),
 ('28',),
 ('8',),
 ('15',),
 ('18',),
 ('11',),
 ('19',),
 ('22',),
 ('29',),
 ('23',),
 ('20',),
 ('8',),
 ('14',),
 ('15',),
 ('28',),
 ('27',),
 ('5',),
 ('12',),
 ('15',),
 ('13',),
 ('18',),
 ('13',),
 ('27',),
 ('15',),
 ('17',),
 ('4',),
 ('24',),
 ('7',),
 ('14',),
 ('13',),
 ('6',),
 ('23',),
 ('20',),
 ('1',),
 ('10',),
 ('14',),
 ('3',),
 ('16',),
 ('16',),
 ('2',),
 ('11',),
 ('25',),
 ('14',),
 ('17',),
 ('4',),
 ('17',),
 ('6',),
 ('2',),
 ('11',),
 ('13',),
 ('24',),
 ('2',),
 ('11',),
 ('21',),
 ('3',),
 ('6',),
 ('25',),
 ('4',),
 ('13',),
 ('1',),
 ('5',),
 ('2',),
 ('23',),
 ('13',),
 ('30',),
 ('20',),
 ('29',),
 ('3',),
 ('16',),
 ('14',),
 ('5',),
 ('9',),
 ('3',),
 ('7',),
 ('15',),
 ('11',),
 ('4',),
 ('27',),
 ('26',),
 ('28',),
 ('24',),
 ('20',),
 ('29',),
 ('28',),
 ('22',),
 ('24',),
 ('17',),
 ('22',),
 ('20',),
 ('2',),
 ('24',),
 ('15',),
 ('26',),
 ('17',),
 ('23',),
 ('2',),
 ('26',),
 ('13',),
 ('15',),
 ('29',),
 ('18',),
 ('21',),
 ('20',),
 ('2',),
 ('5',),
 ('2',),
 ('30',),
 ('27',),
 ('22',),
 ('27',),
 ('13',),
 ('4',),
 ('8',),
 ('10',),
 ('25',),
 ('19',),
 ('8',),
 ('11',),
 ('18',),
 ('8',),
 ('9',),
 ('23',),
 ('21',),
 ('26',),
 ('25',),
 ('19',),
 ('22',),
 ('20',),
 ('15',),
 ('12',),
 ('11',),
 ('23',),
 ('24',),
 ('12',),
 ('17',),
 ('3',),
 ('10',),
 ('2',),
 ('19',),
 ('22',),
 ('10',),
 ('19',),
 ('25',),
 ('17',),
 ('20',),
 ('16',),
 ('22',),
 ('1',),
 ('18',),
 ('5',),
 ('6',),
 ('11',),
 ('11',),
 ('8',),
 ('28',),
 ('6',),
 ('22',),
 ('5',),
 ('12',),
 ('11',),
 ('25',),
 ('28',),
 ('8',),
 ('1',),
 ('12',),
 ('4',),
 ('20',),
 ('7',),
 ('12',),
 ('21',),
 ('16',),
 ('18',),
 ('6',),
 ('3',),
 ('22',),
 ('17',),
 ('6',),
 ('10',),
 ('28',),
 ('20',),
 ('24',),
 ('29',),
 ('7',),
 ('12',),
 ('27',),
 ('23',),
 ('9',),
 ('7',),
 ('23',),
 ('10',),
 ('13',),
 ('27',),
 ('13',),
 ('3',),
 ('2',),
 ('12',),
 ('12',),
 ('4',),
 ('7',),
 ('14',),
 ('27',),
 ('8',),
 ('11',),
 ('15',),
 ('22',),
 ('30',),
 ('8',),
 ('22',),
 ('2',),
 ('21',),
 ('8',),
 ('15',),
 ('5',),
 ('21',),
 ('15',),
 ('8',),
 ('13',),
 ('20',),
 ('14',),
 ('13',),
 ('23',),
 ('22',),
 ('22',),
 ('4',),
 ('15',),
 ('3',),
 ('27',),
 ('13',),
 ('18',),
 ('6',),
 ('21',),
 ('28',),
 ('15',),
 ('16',),
 ('5',),
 ('21',),
 ('12',),
 ('29',),
 ('6',),
 ('7',),
 ('20',),
 ('19',),
 ('11',),
 ('1',),
 ('7',),
 ('10',),
 ('16',),
 ('16',),
 ('23',),
 ('16',),
 ('5',),
 ('4',),
 ('2',),
 ('8',),
 ('8',),
 ('17',),
 ('28',),
 ('22',),
 ('6',),
 ('23',),
 ('19',),
 ('19',),
 ('2',),
 ('27',),
 ('17',),
 ('2',),
 ('15',),
 ('23',),
 ('18',),
 ('12',),
 ('28',),
 ('11',),
 ('20',),
 ('28',),
 ('17',),
 ('7',),
 ('26',),
 ('22',),
 ('25',),
 ('11',),
 ('8',),
 ('5',),
 ('1',),
 ('10',),
 ('12',),
 ('30',),
 ('2',),
 ('22',),
 ('9',),
 ('9',),
 ('14',),
 ('2',),
 ('25',),
 ('13',),
 ('13',),
 ('21',),
 ('15',),
 ('3',),
 ('13',),
 ('12',),
 ('24',),
 ('15',),
 ('14',),
 ('2',),
 ('23',),
 ('15',),
 ('27',),
 ('17',),
 ('9',),
 ('4',),
 ('18',),
 ('18',),
 ('17',),
 ('13',),
 ('22',),
 ('22',),
 ('7',),
 ('15',),
 ('8',),
 ('2',),
 ('22',),
 ('12',),
 ('14',),
 ('25',),
 ('12',),
 ('30',),
 ('15',),
 ('25',),
 ('17',),
 ('16',),
 ('14',),
 ('19',),
 ('17',),
 ('7',),
 ('9',),
 ('12',),
 ('27',),
 ('1',),
 ('6',),
 ('2',),
 ('26',),
 ('15',),
 ('30',),
 ('19',),
 ('23',),
 ('17',),
 ('27',),
 ('28',),
 ('13',),
 ('17',),
 ('4',),
 ('21',),
 ('5',),
 ('4',),
 ('7',),
 ('23',),
 ('9',),
 ('12',),
 ('3',),
 ('27',),
 ('27',),
 ('30',),
 ('15',),
 ('22',),
 ('13',),
 ('15',),
 ('18',),
 ('29',),
 ('3',),
 ('7',),
 ('26',),
 ('6',),
 ('10',),
 ('5',),
 ('29',),
 ('16',),
 ('12',),
 ('25',),
 ('2',),
 ('7',),
 ('14',),
 ('9',),
 ('29',),
 ('24',),
 ('2',),
 ('1',),
 ('30',),
 ('14',),
 ('6',),
 ('7',),
 ('16',),
 ('20',),
 ('19',),
 ('25',),
 ('2',),
 ('7',),
 ('28',),
 ('26',),
 ('6',),
 ('22',),
 ('17',),
 ('21',),
 ('6',),
 ('28',),
 ('20',),
 ('9',),
 ('11',),
 ('29',),
 ('11',),
 ('25',),
 ('24',),
 ('16',),
 ('8',),
 ('3',),
 ('7',),
 ('13',),
 ('17',),
 ('3',),
 ('6',),
 ('15',),
 ('18',),
 ('18',),
 ('11',),
 ('30',),
 ('22',),
 ('30',)]

In [ ]:
cursor.execute('PRAGMA table_info(credit)').fetchall()

[(0, 'studentid', 'integer', 0, None, 0),
 (1, 'courseid', 'text', 0, None, 0),
 (2, 'grade', 'text', 0, None, 0),
 (3, 'attempt', 'text', 0, None, 0)]

  
Desafio 1: 

 Achar os estudantes do prof. Harley Albert que obtiveram média > 70.0 
 A consulta deverá retornar os seguintes atributos: FirstName, LastName, Course(Name), Média (Grade)  
  



Desafio 2: 

Achar todos os cursos que o aluno Adams Delilah se matriculou. 
 Retorne: course.Name, course.Teacher, credit.Grade